# 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Import Dataframe orders_products_merged_updated2

In [2]:
# Create path

path = r'/Users/dianaalatriste/Documents/Instacart'

In [3]:
# Dataframe was created after exercise 4.8, so flag columns have been added. Size is currently 5.53 GB

ords_prods_upd = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'order_products_merged_updated2.pkl'))

In [4]:
# Check output

ords_prods_upd.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_purchase,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_expenses,spending_flag,user_behaviour,order_frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [10]:
# Check shape

ords_prods_upd.shape

(32404859, 22)

In [5]:
# Check columns

ords_prods_upd.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'last_purchase', 'product_id', 'add_to_cart_order',
       'reordered', 'product_name', 'aisle_id', 'department_id', 'prices',
       '_merge', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_expenses', 'spending_flag', 'user_behaviour',
       'order_frequency_flag'],
      dtype='object')

# 03. Start dataframe cleaning

In [6]:
# Drop not necessary columns

ords_prods_upd = ords_prods_upd.drop(columns = ['eval_set', 'aisle_id', '_merge'])

In [8]:
# Check shape

ords_prods_upd.shape

(32404859, 22)

In [7]:
# Check output

ords_prods_upd.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_purchase,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_expenses,spending_flag,user_behaviour,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [11]:
# check columns

ords_prods_upd.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'last_purchase', 'product_id', 'add_to_cart_order',
       'reordered', 'product_name', 'department_id', 'prices',
       'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_expenses', 'spending_flag', 'user_behaviour',
       'order_frequency_flag'],
      dtype='object')

# 04. Change datatypes to reduce dataframe size

In [14]:
# Check datatypes

ords_prods_upd.dtypes

order_id                   int64
user_id                   object
order_number               int64
orders_day_of_week         int64
order_hour_of_day          int64
last_purchase            float64
product_id                 int64
add_to_cart_order          int64
reordered                  int64
product_name              object
department_id              int64
prices                   float64
price_range_loc           object
busiest_day               object
busiest_days              object
busiest_period_of_day     object
max_order                  int64
loyalty_flag              object
average_expenses         float64
spending_flag             object
user_behaviour           float64
order_frequency_flag      object
dtype: object

In [13]:
ords_prods_upd['user_id'] = ords_prods_upd['user_id'].astype('str')

In [15]:
ords_prods_upd['order_number'] = ords_prods_upd['order_number'].astype('int8')

In [16]:
ords_prods_upd['orders_day_of_week'] = ords_prods_upd['orders_day_of_week'].astype('int8')

In [17]:
ords_prods_upd['order_hour_of_day'] = ords_prods_upd['order_hour_of_day'].astype('int8')

In [18]:
ords_prods_upd['product_id'] = ords_prods_upd['product_id'].astype('int32')

In [19]:
ords_prods_upd['reordered'] = ords_prods_upd['reordered'].astype('int8')

In [20]:
ords_prods_upd['department_id'] = ords_prods_upd['department_id'].astype('int8')

In [21]:
ords_prods_upd['max_order'] = ords_prods_upd['max_order'].astype('int8')

In [22]:
ords_prods_upd['last_purchase'] = ords_prods_upd['last_purchase'].astype('float16')

In [23]:
ords_prods_upd['prices'] = ords_prods_upd['prices'].astype('float32')

In [24]:
ords_prods_upd['user_behaviour'] = ords_prods_upd['user_behaviour'].astype('float16')

# 05. Export dataframe

In [25]:
# Export dataframe as orders_products_merged_updated3

ords_prods_upd.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_updated3.pkl'))

### Although final file was exported as 'orders_products_updated3', I will save it in my computer as 'orders_products_merged_updated2_cleaned'

## Final size was reduced to 3.18 Gb

In [26]:
print('End of cleaning')

End of cleaning