# Task 4.6 Combining & Exporting Data

## 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Import orders_products_combined dataframe

In [2]:
# Set path

path = r'/Users/dianaalatriste/Documents/Instacart'

In [7]:
# Import orders_products_combined dataframe as df_ordsprods_merged

df_ordsprods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
# Check shape of df_ordsprods_merged

df_ordsprods_merged.shape

(32434489, 11)

### Dataframe has same shape as exported file in previous exercise. This is correct!

## 03. Import 'products_checked'

In [9]:
# Import 'products_checked' dataframe

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [10]:
# Check df_prods columns

df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [11]:
# Check df_prods shape

df_prods.shape

(49672, 5)

In [12]:
# Check df_ordsprods_merged columns

df_ordsprods_merged.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'last_purchase', 'product_id', 'add_to_cart_order',
       'reordered', '_merge'],
      dtype='object')

In [13]:
# Check df_ordsprods_merged shape

df_ordsprods_merged.shape

(32434489, 11)

## 04. Checking head of tables

In [14]:
# Check head of df_ordsprods_merged

df_ordsprods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_purchase,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [15]:
# Check head of df_prods

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## 05. Dropping '_merge' column as it is causing an error in the merge

In [23]:
# Drop '_merge' column on df_ordsprods_merged

df_ordsprods_merged = df_ordsprods_merged.drop(columns = ['_merge'])

In [24]:
#Check output

df_ordsprods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_purchase,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

## 06. Merging dataframes 'df_prods' with 'df_ordsprods_merged'

In [25]:
# Merging dataframes

df_merged = df_ordsprods_merged.merge(df_prods, on = 'product_id', indicator = True)

In [26]:
# Check output

df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_purchase,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [27]:
# Summing up values in merge column

df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [28]:
# Check shape of df_merged

df_merged.shape

(32404859, 15)

## 07. Exporting df_merged as pickle file

In [29]:
# Export df_merge as pickle file

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [30]:
print('End of task')

End of task